@font-face {
    font-family: 'commeheavy';
    src: url('Comme-Heavy-webfont.eot');
    src: url('Comme-Heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('Comme-Heavy-webfont.woff2') format('woff2'),
         url('Comme-Heavy-webfont.woff') format('woff'),
         url('Comme-Heavy-webfont.ttf') format('truetype'),
         url('Comme-Heavy-webfont.svg#commeheavy') format('svg');
    font-weight: normal;
    font-style: normal;

}

